V.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #e1eec3; /* fallback for old browsers */
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
}

.App footer {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: black;
}

.App .border {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 30px;
  max-width: 650px;
  min-width: 650px;
  border-radius: 20px;
  border: solid 1px rgb(65, 65, 65, 0.5);
  background: #fffcf3;
}

.App .text {
  font-size: 11px;
  font-weight: 500;
}
