.Searchbar .search-bar {
    border: none;
    background: #eeee;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(161, 161, 161);
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 6px 4px;
    font-size: 12px;
  }
  
  .Searchbar .search-button {
    position: relative;
    left: 18px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(161, 161, 161);
    background: #bae3ee;
  }
  
  .Searchbar .search-button:hover {
    background: #5fd3f3;
    cursor: pointer;
  }
  