.Temperature {
    margin-top: 10px;
  }
  
  .Temperature .boldTemp {
    font-weight: bold;
  }
  
  .Temperature .image-today {
    position: relative;
    left: 5px;
    top: -8px;
    max-width: 50px;
  }
  
  .Temperature .lightTemp {
    font-weight: lighter;
  }
  
  .Temperature .no-events {
    pointer-events: none;
  }
  
  .Temperature .temperature-today {
    position: relative;
    left: 10px;
    font-size: 34px;
    margin-bottom: 10px;
  }
  
  .Temperature #celsius-element,
  #fahrenheit-element {
    font-size: 12px;
  }
  