.Values .prediction {
    font-size: 11px;
  }
  
  .Values .today-detail {
    position: relative;
    left: 5px;
  }
  
  .Values #city {
    font-size: 18px;
  }
  
  .Values #description::first-letter {
    text-transform: capitalize;
  }
  
  .Values #wind {
    text-transform: lowercase;
  }
  