
.WeatherInfo .highlightToday {
  margin-top: 10px;
}

.WeatherInfo .prediction {
  font-size: 11px;
}

.WeatherInfo .searchedCity {
  font-size: 18px;
  font-weight: 600;
}

#description::first-letter {
  text-transform: capitalize;
}